@import 'null.css';

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* ------------------------------ */

.header {
	background: #30858D;
	color: #ffffff;
	text-align: center;
	padding: 10px 0px;
}

.footer {
	background: #30858D;
	color: #ffffff;
	text-align: center;
	padding: 10px 0px;
}

.main__appointment {
	margin: 0px 0px 100px 0px;
}

.appointment {
	background: url("../img/background.jpg") 50%/ cover no-repeat;
	padding: 130px 0px 210px;
	font-family: "Roboto", sans-serif;
}

.appointment__container {}

.appointment__row {
	display: flex;
	row-gap: 50px;
	margin: 0px -55px;
}

.appointment__item {
	padding: 0px 55px;
}

.form {
	flex: 0 1 695px;
	position: relative;
}

.form::before {
	content: "";
	position: absolute;
	top: 0px;
	left: -37px;
	width: 650px;
	height: 707px;
	background: url("../img/Blob2.png") 0 0/ auto no-repeat;
	z-index: 2;
}

.form::after {
	content: "";
	position: absolute;
	top: 109px;
	left: -55px;
	width: 335px;
	height: 567px;
	background: url("../img/Stylize-Circles.svg") 0 0/ auto no-repeat;
}

.form__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: #FFFFFF;
}

.form__title:not(:last-child) {
	margin: 0px 0px 50px 0px;
}

.form__body {
	background: #5D62B5;
	padding: 76px 58px;
	border-radius: 40px;
	position: relative;
	z-index: 3;
}

.form__questionnaire {
	display: flex;
	flex-direction: column;
}

.form__items:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.form__items {
	display: flex;
	flex-wrap: wrap;
	gap: 22px;
}

.form__item {
	flex: 0 1 223px;
	width: 223px;
	padding: 0px 24px;
	min-height: 48px;
	background: none;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	color: #FFFFFF;
	opacity: 0.8;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	transition: opacity 0.3s ease 0s;
}

.form__item:focus {
	opacity: 1;
}

.form__item::placeholder {
	font-family: "Roboto";
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	opacity: 0.8;
	transition: opacity 0.2s ease 0s;
}

.form__item:focus::placeholder {
	opacity: 1;
}

.form__item_textarea {
	resize: none;
	flex: 1 1 100%;
	min-height: 180px;
	padding: 10px 24px;
}

.form__button {
	align-self: end;
	font-weight: 700;
	background: #F2726F;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 8px;
	padding: 12px 28px;
	transition: box-shadow 0.3s ease 0s;
	cursor: pointer;
	text-transform: uppercase;
}

.form__button:hover,
.form__button:focus {
	box-shadow: 0px 0px 7px 0px #0000005d;
}

.stat {
	flex: 0 1 434px;
	max-width: 434px;
	align-self: center;
	color: #FFFFFF;
	font-weight: 900;
	text-align: center;
	position: relative;
	z-index: 3;
}

.stat>*:not(:last-child) {
	margin: 0px 0px 46px 0px;
}

.stat__title {
	font-size: 30px;
	line-height: 1.2;
}

.stat__number {
	font-size: 96px;
	line-height: 0.58;
}

.stat__subtitle {
	font-size: 19px;
	line-height: 1.37;
}

/* ======================== */

.main__cart {
	margin: 0px 0px 100px 0px;
}

/* ------------- */

.cart {
	font-family: 'Poppins', sans-serif;
}

.cart__container {}

.cart__summary {}

/* ------------- */

.summary {
	background: #F5F7FF;
	padding: 17px 30px;
	max-width: 446px;
	margin: 0px 0px 0px auto;
}

.summary__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.5;
	margin: 0px 0px 19px 0px;
}

.summary>*:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.summary__estimate {}

.summary__discount {}

/* ------------- */

.estimate {}

.estimate__title {
	margin: 0px 0px 12px 0px;
	font-size: 18px;
	line-height: 1.5;
}

.estimate__form {}

/* ------------- */

.form-estimate {}

.form-estimate__destination {}

.form-estimate__rates {}

.form-estimate__pickup {}

/* ------------- */

.destination:not(:last-child) {
	margin: 0px 0px 23px 0px;
}

.destination__subtitle {
	line-height: 1.5;
	color: #666666;
	margin: 0px 0px 12px 0px;
}

.destination__label {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	cursor: pointer;
}

.destination__item_select {
	cursor: pointer;
}

.destination__item {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	width: 100%;
	border: 1px solid #A2A6B0;
	padding: 15px 17px;
	border-radius: 4px;
}

.destination__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

/* ------------- */

.rates:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.rates__title {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	margin: 0px 0px 5px 0px;
}

.rates__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rates__radio {
	position: relative;
}

.rates__label {
	line-height: 1.43;
	font-size: 14px;
	padding: 0px 0px 0px 29px;
	display: inline-block;
	cursor: pointer;
}

.rates__label::before {
	content: "";
	top: 0;
	left: 0;
	border: 2px solid #0156FF;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.rates__label::after {
	content: "";
	top: 4px;
	left: 4px;
	background: #0156FF;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	cursor: pointer;
	transform: scale(0);
	transition: transform 0.2s ease 0s;
}

.rates__input:focus+.rates__label::before {
	box-shadow: 0px 0px 10px 0px rgba(0, 85, 255, 0.4);
}

.rates__input:checked+.rates__label::after {
	transform: scale(1);
}

/* ------------- */

.pickup:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.pickup__title {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	margin: 0px 0px 5px 0px;
}

.pickup__radio {
	position: relative;
}

.pickup__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.pickup__label {
	line-height: 1.43;
	font-size: 14px;
	padding: 0px 0px 0px 29px;
	display: inline-block;
	cursor: pointer;
}

.pickup__label::before {
	content: "";
	top: 0;
	left: 0;
	border: 2px solid #0156FF;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 21px;
	height: 21px;
	cursor: pointer;
}

.pickup__label::after {
	content: "";
	top: 4px;
	left: 4px;
	background: #0156FF;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	cursor: pointer;
	transform: scale(0);
	transition: transform 0.2s ease 0s;
}

.pickup__input:focus+.pickup__label::before {
	box-shadow: 0px 0px 10px 0px rgba(0, 85, 255, 0.4);
}

.pickup__input:checked+.pickup__label::after {
	transform: scale(1);
}

/* ------------- */

.discount:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.discount__title {
	font-size: 18px;
	line-height: 27px;
	margin: 0px 0px 10px 0px;
}

.discount__form {}

.discount__label {
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	margin: 0px 0px 5px 0px;
	display: inline-block;
}

.discount__item {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	width: 100%;
	border: 1px solid #A2A6B0;
	padding: 15px 17px;
	border-radius: 4px;
}

.discount__item:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.discount__button {
	border: 2px solid #0156FF;
	background: none;
	box-sizing: border-box;
	border-radius: 50px;
	font-weight: 600;
	color: #0156FF;
	line-height: 21px;
	padding: 15px 20px;
	width: 100%;
}

/* ======================== */

.main__login {
	margin: 0px 0px 100px 0px;
}

/* ------------- */

.login {
	font-family: 'Poppins', sans-serif;
}

.login__container {}

.login__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.5;
}

.login__title:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.login__body {}

/* ------------- */

.body-login {
	padding: 39px 59px;
	background: #F5F7FF;
	max-width: 560px;
}

.body-login__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.5;
}

.body-login__title:not(:last-child) {
	margin: 0px 0px 12px 0px;
}

.body-login__subtitle {
	font-weight: 300;
	line-height: 2.14;
	margin: 0px 0px 12px 0px;
}

.body-login__form {}

/* ------------- */

.form-login {}

.form-login__item:not(:last-child) {
	margin: 0px 0px 12px 0px;
}

.form-login__label {
	display: inline-block;
	font-weight: 600;
	font-size: 13px;
	line-height: 2.1;
	margin: 0px 0px 5px 0px;
}

.form-login__inputs:not(:last-child) {
	margin: 0px 0px 30px 0px;
}

.form-login__input {
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 1.43;
	width: 100%;
	border: 1px solid #A2A6B0;
	padding: 15px 17px;
	border-radius: 4px;
}

.form-login__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 23px;
	align-items: center;
}

.form-login__submit {
	background: #0156FF;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	padding: 15px 51px;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}

.form-login__forgot {
	line-height: 1.43;
	color: #0156FF;
}
