@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import "null.css";

body {
	padding: 60px 0px 0px 0px;
	font-family: Roboto, sans-serif;
}

.wrapper {
	min-height: 100%;
	/* overflow: hidden; */
}

[class*="__container"] {
	max-width: 1020px;
	margin: 0 auto;
}

.header {
	min-height: 60px;
	background: #6a7fdf;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}

.header__container {
	flex: 1 1 auto;
}

.header__list li {
	display: inline-block;
	margin: 0px 37px 0px 0px;
}

.list-header__item {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.15px;
}

.list-header__item a {
	color: #F5F5F5;
}

.list-header__item_arrow-down::after {
	content: "";
	background: url("../img/arrow-down.svg");
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	left: 0px;
}

.main__block1 {
	margin: 0px 0px -80px 0px;
}

.block1__photo img {
	width: 100%;
}

.main__who-we-are {
	margin: 0px 0px 300px 0px;
}

.who-we-are {
	color: #ffff;
}

.who-we-are__container {
	background: #5D62B5;
	border-radius: 40px;
	padding: 100px 87px 0px;
	margin: 0 auto -300px;
	position: relative;
}

.who-we-are__container::before {
	content: "";
	background: url("../img/StylizeCircles.svg") 0 0 / auto no-repeat;
	width: 201px;
	height: 317px;
	display: inline-block;
	position: absolute;
	right: -76px;
	top: -109px;
}

.who-we-are__blob {
	margin: 0px 0px 0px -34px;
	display: inline-block;
}

.who-we-are__blob img {
	width: 100%;
}

.who-we-are__block-name {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 2.5px;
	line-height: 2;
	color: #f5f5f5;
	margin: 0px 0px 33px 0px;
	position: relative;
	padding: 0px 0px 0px 33px;
}

.who-we-are__block-name::before {
	content: "";
	display: inline-block;
	background: url("../img/list-mark.svg") 0 0 / auto no-repeat;
	position: absolute;
	top: 5px;
	left: 0;
	width: 12px;
	height: 13px;
}

.who-we-are__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
	margin: 0px 0px 36px 0px;
}

.who-we-are__text {
	letter-spacing: 0.15px;
	color: #F5F5F5;
	line-height: 1.5;
	margin: 0px 0px 5px 0px;
}

.who-we-are__photo {
	box-shadow: 0px 8px 16px rgba(38, 38, 38, 0.24), 0px 16px 24px rgba(38, 38, 38, 0.2);
	max-width: 846px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 40px;
	position: relative;
}

.who-we-are__photo img {
	width: 100%;
}

.main__sticky {
	margin: 0px 0px 100px 0px;
	position: sticky;
	top: 60px;
}

.sticky__container {
	background: darkslategray;
	padding: 20px;
	border-radius: 40px;
}

.sticky {
	color: #ffff;
}

.main__static {
	margin: 0px 0px 100px 0px;
}

.static__container {
	background: yellowgreen;
	padding: 20px;
	border-radius: 40px;
}