@import 'null.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: #F5F5F5;
}

[class*="__container"] {
	max-width: 1020px;
	margin: 0 auto;
}

/* -------repeat-bloks-------- */

.subtitle-block {
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	padding: 0px 0px 0px 18px;
	position: relative;
}

.subtitle-block::before {
	content: '';
	display: inline-block;
	-webkit-mask-image: url('../img/mark.svg');
	mask-image: url("../img/mark.svg");
	width: 12px;
	height: 13px;
	position: absolute;
	top: 4px;
	left: 0;
}

.title-block {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16666;
}

/* ----------advantages------------ */

.main__advantages {
	margin: 0px 0px 100px 0px;
}

.advantages__subtitle {
	color: #5D62B5;
	margin: 0px 0px 33px 0px;
}

.advantages__subtitle::before {
	background: #5D62B5;
}

.advantages__title {
	color: #000000;
	margin: 0px 0px 68px 0px;
}

.advantages__flex {
	display: flex;
	row-gap: 34px;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px -12px;
}

.advantages__element {
	flex: 1 1 33.33333%;
	min-width: 245px;
	max-width: 348px;
	padding: 0px 12px;
}

.element-advantages {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.element-advantages__img {
	flex: 0 0 63px;
	max-width: 63px;
}

.element-advantages__img img {
	width: 100%;
}

.element-advantages__text {
	flex: 0 1 72.5308642%;
}

.element-advantages__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.36842105;
	color: #F2726F;
	margin: 0px 0px 20px 0px;
}

.element-advantages__paragraph {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

/* -----------impact--------------- */

.impact__body {
	background: #29C3BE;
}

.impact__container {
	padding: 112px 0px 212px 0px;
	position: relative;
}

.impact__blob {
	position: absolute;
	top: 0px;
	right: -67px;
}

.impact__top {
	margin: 0px 0px 76px 0px;
	position: relative;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.impact__out-photo {
	flex: 0 1 498px;
	margin: -183px 0px 0px 0px;
	max-height: 315px;
}

.impact__out-photo img {
	border-radius: 40px;
	height: 100%;
	width: 100%;
}

.impact__text {
	flex: 0 1 auto;
	max-width: 481px;
}

.impact__text>*:nth-child(1) {
	margin: 0px 0px 32px 0px;
}

.impact__subtitle {
	color: #ffffff;
}

.impact__subtitle::before {
	background: #ffffff;
}

.impact__title {
	color: #ffffff;
}

.impact__stats {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	margin: 0px -12px;
	justify-content: center;
}

.element-stats-impact {
	padding: 0px 12px;
	flex: 0 1 25%;
	display: flex;
	gap: 11px;
}

.element-stats-impact__number {
	color: #ffffff;
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16666;
}

.element-stats-impact__subtitle {
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5D62B5;
}