@import url(https://fonts.googleapis.com/css?family=Montserrat:500,900&display=swap);

@import url(https://fonts.googleapis.com/css?family=Nunito:300,600,700,300italic&display=swap);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #151D28;
  line-height: 1;
  font-family: "Nunito";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Nunito";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  background: #F9FBFF;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 71.875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@supports (font-size: clamp( 1.5rem , 1.3139534884rem  +  0.9302325581vw , 2rem )) {
  .logo__link {
    font-size: clamp( 1.5rem , 1.3139534884rem  +  0.9302325581vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.3139534884rem  +  0.9302325581vw , 2rem )) {
  .logo__link {
    font-size: calc(1.5rem + 0.5 * (100vw - 20rem) / 53.75);
  }
}

.header {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
  width: 100%;
}

.header__navigation {
  padding: 10px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (min-height: clamp( 3.25rem , -12.1875rem  +  32.2033898305vw , 11.5625rem )) {
  .header__navigation {
    min-height: clamp( 3.25rem , -12.1875rem  +  32.2033898305vw , 11.5625rem );
  }
}

@supports not (min-height: clamp( 3.25rem , -12.1875rem  +  32.2033898305vw , 11.5625rem )) {
  .header__navigation {
    min-height: calc(3.25rem + 8.3125 * (100vw - 47.9375rem) / 25.8125);
  }
}

.header__logo {
  position: relative;
  z-index: 5;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@supports (flex-basis: clamp( 38.75rem , -6.1696428571rem  +  93.7046004843vw , 62.9375rem )) {
  .header__logo {
    -ms-flex-preferred-size: clamp( 38.75rem , -6.1696428571rem  +  93.7046004843vw , 62.9375rem );
        flex-basis: clamp( 38.75rem , -6.1696428571rem  +  93.7046004843vw , 62.9375rem );
  }
}

@supports not (flex-basis: clamp( 38.75rem , -6.1696428571rem  +  93.7046004843vw , 62.9375rem )) {
  .header__logo {
    -ms-flex-preferred-size: calc(38.75rem + 24.1875 * (100vw - 47.9375rem) / 25.8125);
        flex-basis: calc(38.75rem + 24.1875 * (100vw - 47.9375rem) / 25.8125);
  }
}

.header__cart {
  position: relative;
  z-index: 5;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  height: 22px;
}

.header__cart img {
  max-width: 100%;
  height: 100%;
}

.cart {
  position: relative;
}

.cart__count {
  font-weight: 300;
  font-size: 0.875rem;
  position: absolute;
  top: -50%;
  -webkit-transform: translate(70%, 0);
      -ms-transform: translate(70%, 0);
          transform: translate(70%, 0);
  right: 0%;
  min-width: 19px;
  padding: 0px 0.3125rem;
  border-radius: 0.625rem;
  background: #C7A17A;
  color: #F9FBFF;
}

.icon-menu {
  display: none;
}

.general__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@supports (min-height: clamp( 25rem , -9.8214285714rem  +  72.6392251816vw , 43.75rem )) {
  .general__body {
    min-height: clamp( 25rem , -9.8214285714rem  +  72.6392251816vw , 43.75rem );
  }
}

@supports not (min-height: clamp( 25rem , -9.8214285714rem  +  72.6392251816vw , 43.75rem )) {
  .general__body {
    min-height: calc(25rem + 18.75 * (100vw - 47.9375rem) / 25.8125);
  }
}

.general__menu {
  text-transform: uppercase;
  color: #EDF0F5;
}

.general__leaf {
  font-weight: 700;
}

.general__leaf:not(:last-child) {
  margin: 0px 0px 1.875rem 0px;
}

.video-general {
  position: relative;
}

.video-general video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 6;
}

.video-general__prev-ibg {
  height: 100%;
}

.video-general__button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0px 0px -25px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
          box-shadow: 0px 4px 24px rgba(74, 74, 74, 0.5);
  width: 55px;
  height: 55px;
  -webkit-transition: -webkit-transform 0.2s ease 0s;
  transition: -webkit-transform 0.2s ease 0s;
  -o-transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s;
  transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
}

.video-general__button::after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #C7A17A;
}

.video-general__button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.title-general {
  text-transform: uppercase;
}

.title-general__emphasis {
  position: relative;
  top: 0px;
  left: -15px;
  background: #C7A17A;
  color: #F9FBFF;
  padding: 0px 15px;
}

.title-general__text {
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.3;
  color: #415167;
}

@supports (font-size: clamp( 2.0625rem , -0.375rem  +  5.0847457627vw , 3.375rem )) {
  .title-general__text {
    font-size: clamp( 2.0625rem , -0.375rem  +  5.0847457627vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 2.0625rem , -0.375rem  +  5.0847457627vw , 3.375rem )) {
  .title-general__text {
    font-size: calc(2.0625rem + 1.3125 * (100vw - 47.9375rem) / 25.8125);
  }
}

.menu-general {
  font-weight: 300;
  line-height: 1.5;
}

.menu-general__item::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #EDF0F5;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-general__item:not(:last-child) {
  margin: 0px 0px 24px 0px;
}

@media (min-width: 47.99875em) {
  .general__text {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22.2608695652%;
            flex: 0 0 22.2608695652%;
  }

  .general__video {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .general__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.7391304348%;
            flex: 0 0 17.7391304348%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
    background: #415167;
    position: relative;
  }

@supports (padding-left: clamp( 0.9375rem , -4.2857142857rem  +  10.8958837772vw , 3.75rem )) {
    .general__menu {
      padding-left: clamp( 0.9375rem , -4.2857142857rem  +  10.8958837772vw , 3.75rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -4.2857142857rem  +  10.8958837772vw , 3.75rem )) {
    .general__menu {
      padding-left: calc(0.9375rem + 2.8125 * (100vw - 47.9375rem) / 25.8125);
    }
}

@supports (padding-top: clamp( 6.375rem , -7.9017857143rem  +  29.7820823245vw , 14.0625rem )) {
    .general__menu {
      padding-top: clamp( 6.375rem , -7.9017857143rem  +  29.7820823245vw , 14.0625rem );
    }
}

@supports not (padding-top: clamp( 6.375rem , -7.9017857143rem  +  29.7820823245vw , 14.0625rem )) {
    .general__menu {
      padding-top: calc(6.375rem + 7.6875 * (100vw - 47.9375rem) / 25.8125);
    }
}

  .general__menu::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 100%;
    width: 100vw;
    height: 100%;
    background: #415167;
  }

  .title-general {
    position: absolute;
    z-index: 7;
    bottom: 64px;
    left: 15px;
  }

@supports (max-width: clamp( 9.25rem , -29.8660714286rem  +  81.598062954vw , 30.3125rem )) {
    .title-general {
      max-width: clamp( 9.25rem , -29.8660714286rem  +  81.598062954vw , 30.3125rem );
    }
}

@supports not (max-width: clamp( 9.25rem , -29.8660714286rem  +  81.598062954vw , 30.3125rem )) {
    .title-general {
      max-width: calc(9.25rem + 21.0625 * (100vw - 47.9375rem) / 25.8125);
    }
}
}

@media (max-width: 47.99875em) {
  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .logo__link {
    color: #EDF0F5;
  }

  .header {
    background: #415167;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .menu {
    margin: 0px 0px 0px 30px;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #EDF0F5;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .general {
    padding-top: 52px;
  }

  .general__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .general__video {
    display: block;
    min-height: 320px;
    margin: 0px -15px;
  }

  .general__menu {
    display: none;
  }

  .video-general video {
    min-height: 320px;
  }

  .video-general__prev-ibg {
    min-height: 320px;
  }

  .menu-general {
    position: fixed;
    z-index: 4;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background: #151D28;
    color: white;
    padding: 0px 15px;
    font-size: 2.5rem;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-general::before {
    content: "";
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 52px;
    background: #151D28;
    z-index: 50;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-open .menu-general::before {
    left: 0px;
  }

@supports (padding-top: clamp( 4.5rem , 1.4069767442rem  +  15.4651162791vw , 12.8125rem )) {
    .menu-general {
      padding-top: clamp( 4.5rem , 1.4069767442rem  +  15.4651162791vw , 12.8125rem );
    }
}

@supports not (padding-top: clamp( 4.5rem , 1.4069767442rem  +  15.4651162791vw , 12.8125rem )) {
    .menu-general {
      padding-top: calc(4.5rem + 8.3125 * (100vw - 20rem) / 53.75);
    }
}

  .menu-open .menu-general {
    left: 0px;
  }
}

@media (max-width: 47.9375em) {
  .general__body {
    min-height: inherit;
  }
}

@media (any-hover: hover) {
  .menu-general__item:hover::after {
    width: 100%;
  }
}