* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	min-height: 100%;
	min-width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1280px;
	padding: 0px 10px;
}

.header {}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 20px;
}

.header__navigation {}

.header__form {
	position: relative;
}

.header__search {
	border: 1px solid #000000;
	border-radius: 30px;
	padding: 7px 30px 7px 7px;
	font-size: 18px;
}

.header__submit {
	position: absolute;
	top: 8px;
	left: 210px;
	display: block;
	width: 20px;
	height: 20px;
	background: url("../img/search.svg");
}

.header__submit img {
	height: 20px;
	width: 20px;
}

.header__search::before {
	content: "fdf";
	font-size: 24px;
}

.header__phone {
	font-size: 20px;
	color: #000000;
}

.header__bottom {
	background: #393b41;
	margin: 0px 0px 20px;
}

.header__list {
	display: flex;
	justify-content: space-between;
}

.header__list li a {
	line-height: 2;
	color: aliceblue;
	font-size: 18px;
}

.logo {
	font-size: 24px;
	color: black;
}

.banner {
	margin: 0px 0px 20px
}

.banner__img img {
	width: 100%;
}

.new {}

.new__container {}

.new__title {
	font-size: 38px;
	font-weight: 600;
	text-align: center;
	margin: 0px 0px 20px;
}

.new__items {
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.new__item {}

.item-new {
	width: 200px;
	height: 300px;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #0000001f;
	padding: 20px;
}

.item-new__book {
	text-align: center;
	font-size: 100px;
	margin: 0px 0px 10px;
}

.item-new__title {
	font-weight: 600;
	margin: 0px 0px 90px;
}

.item-new__price {
	margin: 0px 0px 10px;
}

.item-new__button {
	display: block;
	line-height: 2;
	text-align: center;
	padding: 0px 10px;
	border-radius: 20px;
	background: slateblue;
	color: aliceblue;
}

.info {
	background: #393b41;
	margin: 0px 0px 10px;
}

.info__mark {
	font-size: 48px;
	color: aliceblue;
	text-align: center;
	margin: 0px 0px 20px;
}

.info__container {
	padding: 30px 0px;
}

.info__text {
	font-size: 22px;
	color: aliceblue;
	width: 800px;
	margin: 0 auto;
}

.footer {
	min-height: 150px;
	background: url("../img/bg-dark.png") 0 0 repeat fixed;
}

.footer__container {
	padding: 50px 0px 0px 0px;
}